* {
    margin: 0.5rem;
}

a {
    text-decoration: none;
}

table {
    width: 100%;
}

table, th , td  {
    text-align: center;
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}
table tr:nth-child(odd) {
    background-color: #f1f1f1;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}

.table-wrapper {
    width: 45vw;
    margin-bottom: 5vh;
}

.input {
    font-size: 15px;
}

.button {
    font-size: 15px;
}

.button:hover {
    cursor: pointer;
}
.city-country-wrapper {
    margin-top: 2vh;
    background: cornflowerblue;
    width: 35vw;
}

.row {
    display: flex;
    margin-bottom: 4vh;
}

.city-header {
    color: white;
}

.selected-city {
    color: white;
    margin-top: 11px;
    font-size: 20px;
    font-weight: 900;
}

.select-label {
    font-size: 20px;
}

.select-label-wrapper {
    margin: 0;
    padding: 0;
    background-color: cadetblue;
}

.limit {
    color: white;
}
.select {
    font-size: 30px;
}

.head-wrapper {
    margin: 0 5vw 0 5vw;
}

.nav-wrapper {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.nav-link {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.nav-link:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
    cursor: pointer;
}

.product-form {
    margin-bottom: 2vh;
}

.submit-btn {
    margin-left: 3vw;
    margin-bottom: 6vh;
}

.contact-btn {
    margin-left: 3vw;
    margin-bottom: 3vh;
}

.login-btn {
    margin-left: 50vw
}

.filters {
    justify-content: space-between;
    padding: 0 5vw 0 5vw;
}