<div>
    <h1>Contact us</h1>
    <img src="https://stihi.ru/pics/2020/06/18/8266.jpg">

    <div style="border: 1px solid black;">
        <h3>Ваше мнение очень важно для нас</h3>
        <form name="contactForm" ng-submit="$ctrl.submit()">
            <div class="row">
                <p>Имя</p>
                <input ng-model="$ctrl.contact.name"
                       type="text"
                       placeholder="Введите имя"
                       required
                        name="name">
                <span ng-show="contactForm.name.$touched && contactForm.name.$invalid">
                Введите обязательное поле
                </span>
            </div>
            <div class="row">
                <p>Фамилия</p>
                <input ng-model="$ctrl.contact.surname"
                       type="text"
                       placeholder="Введите фамилию"
                       required
                       name="surname">
                <span ng-show="contactForm.surname.$touched && contactForm.surname.$invalid">
                Введите обязательное поле
                </span>
            </div>
            <div class="row">
                <p>Пол</p>
                <label><input type="radio" ng-model="$ctrl.contact.gender" value="male" />Мужчина</label>
                <label><input type="radio" ng-model="$ctrl.contact.gender" value="female"/>Женщина</label>
            </div>
            <div class="row">
                <p>Дата рождения</p>
                <input ng-model="$ctrl.contact.date"
                       type="date"
                       placeholder="Введите дату рождения"
                       required
                       name="date">
                <span ng-show="contactForm.date.$touched && contactForm.date.$invalid">
                Введите обязательное поле
                </span>
            </div>
            <div class="row">
                <p>Страна</p>
                <input ng-model="$ctrl.contact.country"
                       type="text"
                       placeholder="Введите страну"
                       required
                       name="country">
                <span ng-show="contactForm.country.$touched && contactForm.country.$invalid">
                Введите обязательное поле
                </span>
            </div>
            <div class="row">
                <p>Адрес</p>
                <input ng-model="$ctrl.contact.address"
                       type="text"
                       placeholder="Введите адрес"
                       required
                       name="address">
                <span ng-show="contactForm.address.$touched && contactForm.address.$invalid">
                Введите обязательное поле
                </span>
            </div>
            <div class="row">
                <p>Электронная почта</p>
                <input ng-model="$ctrl.contact.email"
                       type="email"
                       placeholder="Введите email"
                       required
                       name="email">
                <span ng-show="contactForm.email.$touched && contactForm.email.$invalid">
                Введите обязательное поле
                </span>
            </div>
          <div class="row">
              <p>  Принимаю соглашение </p>
                <input type="checkbox" ng-model="$ctrl.contact.flag" required>
                <div ng-hide="$ctrl.contact.flag">
                    <p>Нажимая на галочку, даю согласие на обработку моих данных</p>
                </div>
                <span ng-show="contactForm.flag.$touched && contactForm.flag.$invalid">
                Введите обязательное поле
                </span>
            </div>
            <button class="contact-btn" ng-disabled="contactForm.$invalid" type="submit" >Submit</button>
            <button class="contact-btn"  ng-click="$ctrl.reset()">Reset</button>
        </form>

    </div>
    <hr>
    <div>
        <h3>Координаты компании</h3>
        <div class="row">
            <p><b>Adresa:</b></p>
            <i>Chisinau, bd.Dacia 12, oficiul 5</i>
        </div>
        <div class="row">
            <p><b>Email:</b></p>
            <i>repsmoldova@reps.com</i>
        </div>
        <div class="row">
            <p><b>Contacte:</b></p>
            <i>Tel: (022) 26 76 50</i>
        </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2722.276794320963!2d28.867964214962416!3d46.97589773932641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c97940a9ad490f%3A0xcd95dfe8076284ff!2zQnVsZXZhcmR1bCBEYWNpYSA1MCwgQ2hpyJlpbsSDdSAyMDYyLCDQnNC-0LvQtNC-0LLQsA!5e0!3m2!1sru!2s!4v1519761715458" width="600"  height="450" frameborder="1" style="border:0" allowfullscreen></iframe><br><br>
</div>