<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Taya Lab</title>
    <link rel="stylesheet" href="styles.css">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="exponentiation.js"></script>
<body>
    <div ng-app="myApp">
        <div ng-controller="myController">
            <div class="input-wrapper">
                <p class="input-paragraph">Enter your number:</p>
                <input placeholder="Enter a number" class="input" type="text" ng-model="a">
            </div>
            <button class="get-result-btn" ng-click="findSquare()">Get result</button>
            <h1>Result of exponentiation</h1>
            <p class="answer">{{answer}}</p>
        </div>
    </div>

<script>
    var app = angular.module('myApp', ['ExponentiationService']);
    app.controller('myController', function ($scope, Exponentiation) {
        $scope.a = 1;
        $scope.answer = 1.00;
        $scope.findSquare = function () {
            $scope.answer = Exponentiation.sqaure($scope.a)
        }
    });
</script>
</body>
</html>